<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.necromant.nettts"
      android:versionCode="1"
      android:versionName="1.0" android:installLocation="auto">

<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED">
</uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".NetTtsSettings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
            </intent-filter>
        </activity>
     <service android:enabled="true" android:name=".NetTTSService"  android:process=":remote" >
     <intent-filter>
		<action android:name="org.necromant.nettts.NetTTSService">
		</action>
	</intent-filter>
     </service>
     <receiver android:name="BcastRecv">
	<intent-filter>
		<action android:name="android.intent.action.BOOT_COMPLETED">
		</action>
		<category android:name="android.intent.category.HOME">
		</category>
	</intent-filter>
</receiver>
    </application>
</manifest>